@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

*,
*::after,
*::before {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background-color: #3ebfff;
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  margin-top: 1em;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  margin-left: 3em;
  display: inline-block;
}

.contact-btn {
  text-transform: uppercase;
  background-color: white;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  font-weight: 700;
  padding: 1em 2em;
  border-radius: 999px;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.contact-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.hamburger {
  display: none;
}

.main-section {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -4.9em;
}

.main-section-content {
  margin: auto;
}

.main-section h1 {
  font-family: "Fraunces", serif;
  font-size: 2.8em;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.arrow {
  margin-top: 2em;
  display: flex;
}

.arrow img {
  height: 5.5em;
  margin: auto;
}

.services-section {
  display: flex;
  flex-wrap: wrap;
}

.service-info {
  width: 50%;
  display: flex;
}

.service-info-content {
  width: 65%;
  margin: auto;
}

.service-info-content h2 {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-weight: 900;
  font-size: 2.4em;
}

.service-info-content p {
  color: hsl(232, 10%, 55%);
  font-size: 1.1em;
  margin: 2em 0;
  line-height: 1.5em;
}

.learn-more {
  display: inline-block;
  position: relative;
}

.learn-more a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-size: 1.1em;
  padding: 0 0.4em;
  position: relative;
  z-index: 10;
}

.learn-more div {
  height: 0.4em;
  width: 100%;
  opacity: 0.3;
  border-radius: 100em;
  position: absolute;
  bottom: 0;
  transition: opacity 0.1s ease;
}

.yellow-div {
  background-color: hsl(51, 100%, 49%);
}

.red-div {
  background-color: hsl(7, 99%, 70%);
}

.learn-more:hover div {
  opacity: 0.8;
}

.service-img {
  width: 50%;
}

.service-img img,
.service2 img {
  width: 100%;
  display: block;
}

.service2 {
  width: 50%;
  position: relative;
}

.service2-info1,
.service2-info2 {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service2-info1 {
  color: hsl(167, 40%, 24%);
}

.service2-info2 {
  color: hsl(198, 62%, 26%);
}

.service2 h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.7em;
  margin-bottom: 1em;
}

.service2 p {
  font-size: 1em;
  line-height: 1.4em;
  width: 55%;
  text-align: center;
}

.testimonials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6em 2em;
}

.testimonials-section h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: hsl(232, 10%, 55%);
  margin-bottom: 3em;
  text-align: center;
}

.clients {
  display: flex;
}

.client {
  max-width: 350px;
  text-align: center;
  margin: 1em;
}

.client img {
  height: 4.2em;
  border-radius: 50%;
}

.client p {
  color: hsl(232, 10%, 55%);
  font-size: 1.1em;
  margin: 3em 0;
  line-height: 1.5em;
}

.client h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-size: 1.1em;
}

.client span {
  font-size: 0.8em;
  color: hsl(210, 4%, 67%);
  display: block;
  margin-top: 0.7em;
}

.gallery-section {
  display: flex;
}

.gallery-section img {
  display: block;
  width: 25%;
}

footer {
  background-color: hsl(167, 46%, 75%);
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 3em;
  align-items: center;
}

.logo-footer {
  margin-bottom: 2.5em;
}

.nav-footer span {
  display: inline-block;
  width: 5em;
  margin: 0 1em;
  text-align: center;
}

.nav-footer a {
  text-decoration: none;
  color: hsla(167, 40%, 24%, 0.7);
  font-size: 1.1em;
  transition: color 0.1s ease;
}

.nav-footer a:hover {
  color: white;
}

.contact {
  margin-top: 3em;
}

.contact a {
  color: hsla(167, 40%, 24%, 0.7);
  font-size: 1.4em;
  margin: 0 0.5em;
  transition: color 0.1s ease;
}

.fb:hover {
  color: #013ea2;
}

.in:hover {
  color: #da284b;
}

.tw:hover {
  color: #1c9cea;
}

.pr:hover {
  color: #e60023;
}

.attribution {
  color: hsla(167, 40%, 24%, 0.7);
  text-align: center;
  padding: 0.5em 1em;
}

.attribution a {
  color: hsla(167, 40%, 24%, 0.7);
  transition: color 0.1s ease;
}

.attribution a:hover {
  color: white;
}

@media screen and (max-width: 980px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 840px) {
  .egg {
    order: -1;
  }

  .service-info,
  .service-img,
  .service2 {
    width: 100%;
  }

  .service-info-content {
    margin: 6em auto;
    text-align: center;
  }
}

@media screen and (max-width: 660px) {
  header nav {
    position: absolute;
    width: calc(100% - 4em);
    top: 5.5em;
    display: none;
  }

  header nav::after {
    content: "";
    height: 4em;
    width: 4em;
    background-color: white;
    transform: skewY(-45deg);
    position: absolute;
    right: 0;
    top: 0;
  }

  .background {
    display: none;
    height: 95vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    z-index: 11;
  }

  header nav ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    position: relative;
    z-index: 10;
  }

  header nav a {
    color: hsl(232, 10%, 55%);
    font-size: 1.3em;
    margin: 1em 0;
  }

  .contact-btn {
    background-color: hsl(51, 100%, 49%);
  }

  .contact-btn:hover {
    background-color: hsla(51, 100%, 49%, 0.6);
    color: hsla(212, 27%, 19%, 0.6);
  }

  .hamburger {
    display: flex;
  }

  .logo-header img {
    height: 1.7em;
  }

  .main-section {
    background-image: url(images/mobile/image-header.jpg);
    margin-top: -3.9em;
  }

  .testimonials-section {
    margin-bottom: 3em;
  }

  .clients {
    flex-direction: column;
  }

  .client {
    margin: 2.5em 0;
  }

  .client p {
    margin: 1.5em 0;
  }

  .gallery-section {
    flex-wrap: wrap;
  }

  .gallery-section img {
    width: 50%;
  }

  .service-info-content {
    width: 80%;
  }

  .img-serv-1 {
    content: url(images/mobile/image-transform.jpg);
  }

  .img-serv-2 {
    content: url(images/mobile/image-stand-out.jpg);
  }

  .img-glr-1 {
    content: url(images/mobile/image-gallery-milkbottles.jpg);
  }

  .img-glr-2 {
    content: url(images/mobile/image-gallery-orange.jpg);
  }

  .img-glr-3 {
    content: url(images/mobile/image-gallery-cone.jpg);
  }

  .img-glr-4 {
    content: url(images/mobile/image-gallery-sugar-cubes.jpg);
  }
}

@media screen and (max-width: 470px) {
  .img-serv-3 {
    content: url(images/mobile/image-graphic-design.jpg);
  }

  .img-serv-4 {
    content: url(images/mobile/image-photography.jpg);
  }
}

@media screen and (max-width: 330px) {
  .nav-footer {
    display: flex;
    flex-direction: column;
  }

  .nav-footer span {
    width: auto;
    margin: 1em;
    text-align: center;
  }

  body {
    font-size: 12px;
  }
}
